#mario-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  overflow: hidden;
}

#mario-overlay .mario-description {
  position: absolute;
  left: 0%;
  bottom: 5%;
  font-style: italic;
  padding-left: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  border-radius: 0 15px 15px 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 20%;
  max-width: 30%;
  z-index: 1;
  transition: 200ms all;
  padding-bottom: 4px;
  background-color: rgba(0, 0 , 0, 0.7);
  background-image: url("../assets/icons/pattern.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#mario-overlay .mario-description h2 {
  margin: 5px 0;
  font-weight: bold;
}

#mario-overlay .mario-description p {
  margin: 5px 0;
}

#mario-overlay .mario-types {
  position: absolute;
  right: 0%;
  bottom: 5%;
  font-style: italic;
  border-radius: 15px 0 0 15px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 20%;
  max-width: 40%;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
  background-color: rgba(0, 0 , 0, 0.7);
  background-image: url("../assets/icons/pattern.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 850px) {
  #mario-overlay p {
    font-size: 11px !important;
  }

  #mario-overlay h2 {
    font-size: 16px;
  }

  #mario-overlay .mario-types img {
    width: 16px;
    height: 16px;
  }
}
