.mario-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
  color: white;
  border-radius: 20px;
  transform-style: preserve-3d;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  transition: height 0.3s ease-in-out;
  max-height: 550px;
}

.mario-cards {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 160%;
}

.mario-cards.mushroom-kingdom {
  background-color: #d93a2b;
  background-image: url("../assets/card-types/mushroom-kingdom.svg");
}

.mario-cards.wooded-kingdom {
  background-color: #3e7d2a;
  background-image: url("../assets/card-types/wooded-kingdom.svg");
}

.mario-cards.cloud-kingdom {
  background-color: #c7e3f2;
  background-image: url("../assets/card-types/cloud-kingdom.svg");
}

.mario-cards.bowser-kingdom {
  background-color: #4a2f2f;
  background-image: url("../assets/card-types/bowser-kingdom.svg");
}

.mario-cards.lake-kingdom {
  background-color: #6aa7e6;
  background-image: url("../assets/card-types/lake-kingdom.svg");
}

.mario-cards.seaside-kingdom {
  background-color: #55c2a5;
  background-image: url("../assets/card-types/seaside-kingdom.svg");
}

.mario-cards.luncheon-kingdom {
  background-color: #ff7675;
  background-image: url("../assets/card-types/luncheon-kingdom.svg");
}

.mario-cards.sand-kingdom {
  background-color: #e0c38c;
  background-image: url("../assets/card-types/sand-kingdom.svg");
}

.mario-cards.snow-kingdom {
  background-color: #dfdede;
  background-image: url("../assets/card-types/snow-kingdom.svg");
}

.mario-cards.cascade-kingdom {
  background-color: #5dc9a2;
  background-image: url("../assets/card-types/cascade-kingdom.svg");
}

.mario-cards.cap-kingdom {
  background-color: #5c5c76;
  background-image: url("../assets/card-types/cap-kingdom.svg");
}

.mario-cards.moon-kingdom {
  background-color: #f8e6a0;
  background-image: url("../assets/card-types/moon-kingdom.svg");
}

.mario-cards.ruined-kingdom {
  background-color: #656565;
  background-image: url("../assets/card-types/ruined-kingdom.svg");
}

.mario-cards.metro-kingdom {
  background-color: #f47069;
  background-image: url("../assets/card-types/metro-kingdom.svg");
}

.mario-cards.lost-kingdom {
  background-color: #4b8b3b;
  background-image: url("../assets/card-types/lost-kingdom.svg");
}

.inner-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-style: italic;
  color: white;
  transform: translateZ(60px);
  height: 100%;
  width: 100%;
  text-align: center;
}

.inner-element a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.inner-element a p {
  margin: 0;
}

.inner-element .mario-types {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 10px;
  width: 100%;
}

.inner-element .mario-types img {
  width: 20px;
  height: 20px;
}

.inner-element img.mario-character-image {
  width: 70%;
  height: 65%;
  object-fit: cover;
}

@media screen and (max-height: 600px) {
  .inner-element img.mario-character-image {
    width: 45%;
    height: 45%;
    object-fit: cover;
  }
}
