.type-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mario-type {
  display: block;
  border-radius: 100%;
  width: fit-content;
  transition: 200ms all;
  margin: 7px 0px;
}

.type-div p {
  margin: 0;
  font-size: 13px;
}
